
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div id="preloader">
                        <div class="preloader">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            @*<LayoutView Layout="@typeof(MainLayout)">*@
                <p role="alert">Sorry, there's nothing at this address.</p>
            @*</LayoutView>*@
        </NotFound>
    </Router>
</CascadingAuthenticationState>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>