<section class="project-image-text-area pb-90 pt-25">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12">
                                                <ul class="timeline mb-100">
                                                    <li class="timeline-list wow fadeInUp2 animated" data-wow-delay='.1s'>
                                                        <div class="update-content">
                                                            <div class="update-meta">
                                                                <span><i class="far fa-calendar-alt"></i> 05 December 2020</span>
                                                            </div>
                                                            <h4 class="left-line">Fande Every Single Update</h4>
                                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                                                            <div class="update-share d-flex align-items-center">
                                                                <span>Share</span>
                                                                <ul class="team__social update__social">
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-facebook-f"></i>
                                                                                <i class="fab fa-facebook-f"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-twitter"></i>
                                                                                <i class="fab fa-twitter"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-youtube"></i>
                                                                                <i class="fab fa-youtube"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-behance"></i>
                                                                                <i class="fab fa-behance"></i>
                                                                            </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-list wow fadeInUp2 animated" data-wow-delay='.1s'>
                                                        <div class="update-content">
                                                            <div class="update-meta">
                                                                <span><i class="far fa-calendar-alt"></i> 10 December 2020</span>
                                                            </div>
                                                            <h4 class="left-line">Lunch Smart 250s Headphone</h4>
                                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                                                            <div class="update-share d-flex align-items-center">
                                                                <span>Share</span>
                                                                <ul class="team__social update__social">
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-facebook-f"></i>
                                                                                <i class="fab fa-facebook-f"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-twitter"></i>
                                                                                <i class="fab fa-twitter"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-youtube"></i>
                                                                                <i class="fab fa-youtube"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-behance"></i>
                                                                                <i class="fab fa-behance"></i>
                                                                            </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-list wow fadeInUp2 animated" data-wow-delay='.1s'>
                                                        <div class="update-content">
                                                            <div class="update-meta">
                                                                <span><i class="far fa-calendar-alt"></i> 03 November 2020</span>
                                                            </div>
                                                            <h4 class="left-line">Weekly Best Products</h4>
                                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                                                            <div class="update-share d-flex align-items-center">
                                                                <span>Share</span>
                                                                <ul class="team__social update__social">
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-facebook-f"></i>
                                                                                <i class="fab fa-facebook-f"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-twitter"></i>
                                                                                <i class="fab fa-twitter"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-youtube"></i>
                                                                                <i class="fab fa-youtube"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-behance"></i>
                                                                                <i class="fab fa-behance"></i>
                                                                            </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-list wow fadeInUp2 animated" data-wow-delay='.1s'>
                                                        <div class="update-content">
                                                            <div class="update-meta">
                                                                <span><i class="far fa-calendar-alt"></i> 14 December 2020</span>
                                                            </div>
                                                            <h4 class="left-line">Featurd ITEM On This Month</h4>
                                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                                                            <div class="update-share d-flex align-items-center">
                                                                <span>Share</span>
                                                                <ul class="team__social update__social">
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-facebook-f"></i>
                                                                                <i class="fab fa-facebook-f"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-twitter"></i>
                                                                                <i class="fab fa-twitter"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-youtube"></i>
                                                                                <i class="fab fa-youtube"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-behance"></i>
                                                                                <i class="fab fa-behance"></i>
                                                                            </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-list wow fadeInUp2 animated" data-wow-delay='.1s'>
                                                        <div class="update-content">
                                                            <div class="update-meta">
                                                                <span><i class="far fa-calendar-alt"></i> 07 December 2020</span>
                                                            </div>
                                                            <h4 class="left-line">Best Seller Products</h4>
                                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                                                            <div class="update-share d-flex align-items-center">
                                                                <span>Share</span>
                                                                <ul class="team__social update__social">
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-facebook-f"></i>
                                                                                <i class="fab fa-facebook-f"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-twitter"></i>
                                                                                <i class="fab fa-twitter"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-youtube"></i>
                                                                                <i class="fab fa-youtube"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-behance"></i>
                                                                                <i class="fab fa-behance"></i>
                                                                            </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-list wow fadeInUp2 animated" data-wow-delay='.1s'>
                                                        <div class="update-content">
                                                            <div class="update-meta">
                                                                <span><i class="far fa-calendar-alt"></i> 09 December 2020</span>
                                                            </div>
                                                            <h4 class="left-line">Great Offer For Every Products</h4>
                                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                                                            <div class="update-share d-flex align-items-center">
                                                                <span>Share</span>
                                                                <ul class="team__social update__social">
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-facebook-f"></i>
                                                                                <i class="fab fa-facebook-f"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-twitter"></i>
                                                                                <i class="fab fa-twitter"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-youtube"></i>
                                                                                <i class="fab fa-youtube"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-behance"></i>
                                                                                <i class="fab fa-behance"></i>
                                                                            </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-list wow fadeInUp2 animated" data-wow-delay='.1s'>
                                                        <div class="update-content">
                                                            <div class="update-meta">
                                                                <span><i class="far fa-calendar-alt"></i> 11 December 2020</span>
                                                            </div>
                                                            <h4 class="left-line">Every Single Product Update</h4>
                                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                                                            <div class="update-share d-flex align-items-center">
                                                                <span>Share</span>
                                                                <ul class="team__social update__social">
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-facebook-f"></i>
                                                                                <i class="fab fa-facebook-f"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-twitter"></i>
                                                                                <i class="fab fa-twitter"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-youtube"></i>
                                                                                <i class="fab fa-youtube"></i>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                                <i class="fab fa-behance"></i>
                                                                                <i class="fab fa-behance"></i>
                                                                            </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </section>