

.card-img-height{
    max-height:500px;
    min-height:500px;
}


.cuustom-preloader {
    display: flex !important;
    align-items: center;
    min-height: 200px;
    position: relative !important;
    align-content: center;
    z-index: 999999;
}