

.card-img-height{
    max-height:500px;
    min-height:500px;
}


.cuustom-preloader {
    display: flex !important;
    align-items: center;
    min-height: 200px;
    position: relative !important;
    align-content: center;
    z-index: 999999;
}

/*working
.mud-input.mud-input-outlined:focus-within .mud-input-outlined-border {*/
    /*border-color: #02b663!important;*/
/*}*/


.validation-message{
    color:red;
}
.custom-theme-btn {
    padding-left: 20px !important;
    padding-top: 22px !important;
    padding-bottom: 22px !important;
    padding-right: 22px !important;
}